@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~leaflet/dist/leaflet.css';

.map-tile {
  border-bottom: 1px solid #40404050;
  border-right: 1px solid #40404050;
  color: black;
  font-size: 14px;
  font-weight:600;
  z-index: 10;
}
.text-outline{
  text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.5), 1px -1px 0px rgba(255, 255, 255, 0.5), -1px 1px 0px rgba(255, 255, 255, 0.5), 1px 1px 0px rgba(255, 255, 255, 0.5);

}
.leaflet-container {
  background: #000;
}
.leaflet-control { z-index: 0 !important}
.leaflet-pane { z-index: 0 !important}
.leaflet-top, .leaflet-bottom {z-index: 0 !important}
.control-panel {
  position: absolute;
  top: 10%;
  left: 10px;
  z-index: 502;
}
.slider-thumb::-webkit-slider-thumb {
  @apply  h-6 w-6  rounded-full bg-blue-400 !important ;
}

.slider-thumb::-webkit-slider-thumb:hover {
  @apply  bg-blue-500 !important ;
}

.slider-thumb::-webkit-slider-runnable-track {
  @apply bg-transparent;
}
.slider-thumb{
  @apply  appearance-none border h-4 rounded-lg bg-gray-700   border-gray-600;
}