@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~leaflet/dist/leaflet.css';

.map-tile {
  border-bottom: 1px solid #40404050;
  border-right: 1px solid #40404050;
  color: black;
  font-size: 14px;
  font-weight:600;
  z-index: 10;
}
.text-outline{
  text-shadow: -1px -1px 0px rgba(255, 255, 255, 0.5), 1px -1px 0px rgba(255, 255, 255, 0.5), -1px 1px 0px rgba(255, 255, 255, 0.5), 1px 1px 0px rgba(255, 255, 255, 0.5);

}
.leaflet-container {
  background: #000;
  cursor: crosshair;
}
.leaflet-control { z-index: 0 !important}
.leaflet-pane { z-index: 0 !important}
.leaflet-top, .leaflet-bottom {z-index: 0 !important}
.control-panel {
  position: absolute;
  top: 10%;
  left: 10px;
  z-index: 502;
}
input[type="range"]::-webkit-slider-thumb {
  @apply w-5 h-5 bg-neutral-600 border-2 border-neutral-400 border-solid relative -top-1;

  -webkit-appearance: none;
  appearance: none;
  cursor: ew-resize;
  border-radius: 50%;
  
}
input[type="range"]::-webkit-slider-runnable-track {
  @apply bg-neutral-600 rounded h-full;

  
}

.slider-thumb{
  @apply rounded-lg relative  appearance-none bg-gray-400 h-3 
}